// Menu items
.menu
  ul.level-1 > li + li
    margin-top: 20px


  a
    box-sizing: border-box
    position: relative


    display: block
    padding-top: 1px
    padding-bottom: 1px
    margin-right: ($sidepad * -1)


    &, &:visited
      color: $accent
    &:hover
      color: $accent*0.8


  a.level-1
    font-family: montserrat, sans-serif
    text-transform: uppercase
    font-size: 0.9em
    font-weight: bold
    &, &:visited
      color: $grey
    &:hover
      color: $grey*0.6


  a.level-2
    font-weight: normal


  a.level-3
    font-weight: normal
    font-size: 0.9em
    padding-left: 10px


  a.active
    &, &:visited, &:hover
      color: $txt !important
    font-weight: bold !important
    
    // Indicator
    &:after
      content: ''
      display: block
      box-sizing: border-box


      absolute: top 10px right $sidepad


      width: 9px
      height: 3px
      border-radius: 2px
      background: $accent
